Auth.log
Server.log
Errors.log

authserver.pdb
worldserver.pdb
dbimport.pdb
map_extractor.pdb
map_generator.pdb
mmaps_generator.pdb
vmap4_assembler.pdb
vmap4_extractor.pdb

dbimport.exe
map_extractor.exe
map_generator.exe
mmaps_generator.exe
vmap4_assembler.exe
vmap4_extractor.exe

Crashes/*
configs/*.dist
Data/sql/archive